html {
    box-sizing: border-box;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    -webkit-overflow-scrolling: touch;
}
 
body {
    overflow-x: hidden;
    overflow-y: hidden;
    overscroll-behavior: none;
    overscroll-behavior-y: none;
    background-color: $black;
}

#landing{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100%;
    margin: 0px;
    padding: 40px;
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: column;

    h1{
        @extend .thick;
        margin: 0px;
        padding: 0px;
    }

    div{

        &:last-of-type{
            flex-grow: 2;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }

    a {
        position: relative;
        color: inherit;
        text-decoration: none;
        display: block;
        padding: 1.25rem 0px;
        transition: transform 0.3s ease;

        &::after{
            content: "•";
            position: absolute;
            top: 0px;
            right: 0px;
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 40px;
            transition: transform 0.3s ease;
        }
    }

    li{
        list-style: none;
        border-bottom: 1px solid rgba(white, 0.4);
        transition: border 0.3s ease;

        &:hover {
            border-bottom: 1px solid white;

            a{
                transform: translateX(10px);
            }

            a::after{
                transform: translateX(-20px);
            }
        }
    }
}

main {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
}

#sidebar {
    width: $widthSidebar;
    padding: 16px;
    display: none;
    visibility: hidden;
}

#contents {
    @extend .slideElements;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
    background-color: $black;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    //scroll-behavior: smooth;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}