// GRID

.b-1 {
    width: $minBlockWidth;
}

.b-1-5 {
    width: $minBlockWidth * 1.5;
}

.b-2 {
    width: $minBlockWidth * 2;
}

.b-3 {
    width: $minBlockWidth * 3;
}

.b-4 {
    width: $minBlockWidth * 4;
}

.b-5 {
    width: $minBlockWidth * 5;
}

.b-6 {
    width: $minBlockWidth * 6;
}

.b-7 {
    width: $minBlockWidth * 7;
}

.b-8 {
    width: $minBlockWidth * 8;
}

.b-9 {
    width: $minBlockWidth * 9;
}

.b-10 {
    width: $minBlockWidth * 10;
}

// RATIO IMAGES

.r-1-1 {
    padding-top: 100%;
}
  
.r-2-3 {
    padding-top: 150%;
}
  
.r-3-2 {
    padding-top: 66.66%;
}

// FILTERS

.filters-persona {

    margin-right: 8px;
    select {
        position: relative;
        border:none;
        appearance: none;
        @extend .medium;
        padding: 0px 56px 0px 24px;
        height: 40px;
        border-radius: 20px;
        font-size: 1rem;
        color: white;
        background: $hl url("../img/utility/select-chevron.png") no-repeat center right;
        background-size: 40px;
        cursor: pointer;
        transition: background 0.32s ease;
    
        &:focus {
            box-shadow: none;
            outline: none;
        }
    
        &:last-of-type {
            margin-right: 0px;
        }
    }
}

.selectedFirsttimers {
    color: $black !important;
    background: $col-firstTimer url("../img/utility/select-chevron-b.png") no-repeat center right !important;
    background-size: 40px !important;
}

.selectedRepeaters {
    background: $col-repeaters url("../img/utility/select-chevron.png") no-repeat center right !important;
    background-size: 40px !important;
}

.selectedOthers {
    background: $col-others url("../img/utility/select-chevron.png") no-repeat center right !important;
    background-size: 40px !important;
}

// CARDS


.card-l1 {
    width: 100%;
    background-color: $bgk;
    border: 1px solid rgba($black, 0.125);
    border-radius: 16px;
    margin-bottom: 16px;
    
    &:last-of-type{
        margin-bottom: 0px;
    }
}

.card-l2 {
    @extend .shadow-l1;
    display: flex;
    flex-direction: column;
    position: sticky;
    left: $widthSidebar + 16px;
    width: 100%;
    margin-bottom: 16px;
    background-color: white;
    border-radius: 16px;
    transition: transform 1s cubic-bezier(0.08,0.82,0.17,1), box-shadow 1s cubic-bezier(0.08,0.82,0.17,1);
    cursor: pointer;


    &:hover {
        @extend .shadow-l2;
        transform: translate(0px, -4px);
    }

    &:last-of-type{
        margin-bottom: 0px;
    }
}

.card-l2-nohover {
    @extend .shadow-l1;
    display: flex;
    flex-direction: column;
    left: $widthSidebar + 16px;
    width: 100%;
    margin-bottom: 16px;
    background-color: white;
    border-radius: 16px;
    transition: transform 1s cubic-bezier(0.08,0.82,0.17,1), box-shadow 1s cubic-bezier(0.08,0.82,0.17,1);
    cursor: pointer;

    &:last-of-type{
        margin-bottom: 0px;
    }
}

// SHADOWS

.shadow-l1 {
    box-shadow: 0 2px 2px rgba(0,0,0,0.05),
                0 4px 4px rgba(0,0,0,0.05);
}

.shadow-l2 {
    box-shadow: 0 8px 8px rgba(0,0,0,0.08),
                0 16px 16px rgba(0,0,0,0.08);
}